.CommentForm {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CommentForm-title {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.CommentForm-textarea {
  margin: 0;
  padding: 5px;
  resize: none;
  height: 68px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #666;
  background: #FFF;
  box-shadow: 0 1px 4px 0 rgba(102, 102, 102, 0.10) inset;
}

.CommentForm-textarea::placeholder {
  font-family: Arial;
  color: #000;
  font-size: 14px;
}

.CommentForm-buttons {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.CommentForm-button {
  padding: 3px 11px 2px 12px;
  height: 21px;
  border-radius: 2px;
  border: 1px solid #767676;
  background: #EFEFEF;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.CommentForm-button:hover {
  cursor: pointer;
  background-color: lightgrey;
}

/* .send {
  width: 90px;
}

.cansel {
  width: 67px;
} */