.MessageToLogIn {
  box-sizing: border-box;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 2px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.MessageToLogIn-link {
  margin: 0;
  padding: 0;
  color: #0087E9;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
}

.MessageToLogIn-button {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  cursor: pointer;
  border: none;
  background-color: white;
}